{% load static %}


<article>
  <ul>
    {% if not author %}
        <li>
          Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
        </li>
    {% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% include 'includes/thumnail.html' %}
  <p>
    {{ post.text|linebreaksbr }}
  </p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
  {% if link_post and post.group %}
    <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы {{ post.group }}</a>
  {% endif %}
</article>
